body {
    padding-top: 56px;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

.navbar {
    background-color: white;
    font-family: 'Squada One', cursive;
    animation-delay: 2.3s;
}

#home {
    text-align: center;
}

.d-block {
    height: 270px;
}

@media only screen and (min-width: 480px) and (max-width: 989px) {
    #tableInfo {
        padding-left: 26rem !important;
    }

}

@media only screen and (max-width: 1024px) {
    .d-block {
        height: 100px;
    }

    #cv {
        display: none;
    }

    #profilePicture {
        width: 35vw !important;
    }

    #cvToggler {
        display: block !important;
        font-weight: bold;
        background-color: white;
    }
    #homeTitle {
        font-size: 1.5rem !important;
    }
    #profile {
        width: 95vw !important;
    }

    #footer2 {
        width: 300vw !important;
    }

    #education {
        width: 95vw !important;
    }
    #achievement {
        width: 95vw !important;
    }

    #working-experiences {
        width: 95vw !important;
    }

    #projects {
        width: 95vw !important;
    }
    #tableInfo {
        width: 100% !important;
        margin: 1vh auto 1vh auto !important;
        padding-left: 3rem !important;
    }

    #profileContent {
        display: block !important;
    }

    #profileTitle {
        /* font-size: 16px !important; */
        margin-bottom: 1px;
    }
    
    #profileLeft {
        width: 100% !important;
        margin: auto;
    }

    #profileRight {
        width: 60vw !important;
        margin: auto;
    }

    .profileText {
        font-size: 0.8rem !important;
    }

    .profileCol1 {
        width: 27vw;
    }

    #educationTitle {
        /* font-size: 16px !important; */
        margin-bottom: 1px;
    }

    #achievementTitle {
        /* font-size: 16px !important; */
        margin-bottom: 1px;
    }
    
    #projectsTitle {
        /* font-size: 16px !important; */
        margin-bottom: 1px;
    }

    #expTitle {
        /* font-size: 16px !important; */
        margin-bottom: 1px;
    }

    .eduHeader {
        padding: 0 1vw 0 1vw;
        /* font-size: 12px !important; */
    }

    .tableHeader {
        /* font-size: 9px !important; */
        width: 90vw;
    }

    .eduText {
        /* font-size: 10px !important; */
        margin-bottom: 1px;
    }
    
    .eduText2 {
        font-size: 0.9rem !important;
        padding-left: 17vw;
    }

    .sub-language {
        font-size: 1rem !important;
        padding-left: 5px !important;
        height: 2rem !important;
    }

    .progress-bar {
        /* font-size: 8px !important; */
    }

    #cards {
        /* font-size: 12px !important; */
        display: inline-block !important;
        margin:auto auto 0 auto !important;
    }

    #cards2 {
        /* font-size: 12px !important; */
        display: inline-block !important;
        margin: auto;
    }

    .flip-card {
        width: 70vw !important;
        height: 40vh !important;
        margin-bottom: 2vh;
    }

    .flip-card-back {
        font-size: 0.85rem !important;
    }

    ul {
        padding-left: 5vw !important;
    }
    #achievement0 {
        display: inline-block !important;
    }

    #achievement1 {
        display: inline-block !important;
    }

    #achievement2 {
        display: inline-block !important;
    }

    #achievement3 {
        display: inline-block !important;
    }

    #achievement4 {
        display: inline-block !important;
    }

    #a1 {
        display: inline-block !important;
        height: 100% !important;
        width: 60vw !important;
        margin-bottom: 2vh;
    }

    #a3 {
        display: inline-block !important;
        height: 100% !important;
        width: 60vw !important;
        margin-bottom: 2vh;
    }
    
    #a0-mobile, #a1-mobile, #a4-mobile{
        display: inline-block !important;
        height: 100% !important;
        width: 60vw;
        margin-bottom: 2vh;
    }
    #a0 { 
        display: none !important;
    }

    #a2 {
        display: none !important;
    }

    #a4 {
        display: none !important;
    }

    #a0Text {
        height: 100% !important;
        /* font-size: 14px !important; */
    }

    #a1Text {
        height: 100% !important;
        /* font-size: 14px !important; */
    }

    #a2Text {
        height: 100% !important;
        /* font-size: 14px !important; */
    }

    #a3Text {
        height: 100% !important;
        /* font-size: 14px !important; */
    }

    #a4Text {
        height: 100% !important;
        /* font-size: 14px !important; */
    }

    #project1 {
        display: inline-block !important;
    }

    #project2 {
        display: inline-block !important;
    }

    #imgProject1 {
        width: 60vw !important;
        margin: auto !important;
    }

    #imgProject2 {
        display: inline-block !important;
        width: 60vw !important;
        margin: auto !important;
    }

    #imgProject2-mobile {
        display: none !important;
    }


    #projectText1 {
        margin: auto !important;
        height: 100% !important;
        /* font-size: 12px !important; */
    }

    #projectText3 {
        margin: auto !important;
        height: 100% !important;
        /* font-size: 12px !important; */
    }

    iframe {
        width: 250px !important;
    }

    .flipper-card {
        /* font-size: 12px !important; */
    }

    .flipper-back {
        font-size: 0.8rem !important;
    }

    #expSub {
        /* font-size: 14px !important; */
    }

    .food {
        height: 2px !important;
        border: solid 0.7vw black !important;
        margin: 0 0.6rem 0 0.6rem !important;
    }

    .projectText2 {
        padding: 0px 10px 0px 10px;
    }

    .projectText4 {
        padding: 0px 10px 0px 10px;
    }

    #code-skills {
        display: block !important;
    }

    .skills {
        width: 80vw !important;
        margin: auto !important;
    }

    .left {
        border-bottom-left-radius: 0px !important;
        border-top-right-radius: 10px;
    }

    .right {
        border-bottom-left-radius: 10px !important;
        border-top-right-radius: 0px !important;
    }

    #assignment1 {
        display: block !important;
    }

    .assignment-img {
        width: 65vw !important;
        margin-top: 1rem;
    }

    .assignment1-text {
        width: 55vw !important;
        margin: auto;
        text-align: center !important;
        padding-left: 0 !important;
    }
    .button-wrap {
        position: relative
    }
    .assignment1-button {
        bottom: -1rem !important;
        left: 50%;
        transform: translate(-50%, 0)
    }

    .pacman {
        width: 1rem !important;
        height: 1rem !important;
    }

    .with-pacman {
        padding-top: 0.7rem;
    }
    
    .pacman {
        bottom: 0.3rem;
    }

    .assignment-border-right {
        border-right: none !important;
    }

}   

.carousel-inner {
    min-height : 100px;
    max-height : 200px;
    width : 100vw;
}

#carouselExampleIndicators {
    opacity: 0;
    animation-fill-mode: forwards;
}
footer {
    text-align: center;
    margin: auto;
    width: 100vw;
    background-color: lightgray;
    display: flex !important;
    justify-content: space-between;
    position: fixed;
    bottom: 0px;
    font-family: 'Squada One', cursive;
    animation-delay: 2.3s;
}

#footer1 {
    width: 20vw;
}
#footer2 {
    width: 80vw;
}
#footer3 {
    width: 20vw;
}

form {
    display: inline;
}

#iconButton {
    background-color: lightgray;
}

#iconButton:hover {
    transform:scale(1.3,1.3);
    -webkit-transform:scale(1.3,1.3);
    -moz-transform:scale(1.3,1.3);
}

.active {
    transform:scale(1.1,1.1);
    -webkit-transform:scale(1.1,1.1);
    -moz-transform:scale(1.1,1.1);
}

#cv {
    background-color: lightgray;
}

#cvToggler {
    display: none;
}
#cv:hover {
    -webkit-transform: scale(1.1,1.1);
    background-color: gainsboro;
}

#profile {
    height: 100%;
    width: 80vw;
    background-color: white;
    border: 5px solid;
    outline: 1px solid;
    outline-offset: -9px;
    margin: auto;
    color: black;
    text-align: center;
    margin-top: 2vh;
    opacity: 0;
    animation-fill-mode: forwards;
}

#education {
    height: 100%;
    width: 80vw;
    background-color: white;
    background-image: url("background1.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border: 5px solid;
    outline: 1px solid;
    outline-offset: -9px;
    margin: auto;
    color: black;
    text-align: center;
    margin-top: 2vh;
    opacity: 0;
    animation-fill-mode: forwards;
}

#achievement {
    height: 100%;
    width: 80vw;
    background-color: white;
    border: 5px solid;
    outline: 1px solid;
    outline-offset: -9px;
    margin: auto;
    color: black;
    text-align: center;
    margin-top: 2vh;
    font-family: 'Marcellus', serif;
    opacity: 0;
    animation-fill-mode: forwards;
    /*animation-delay: 2.3s;*/
}

#working-experiences {
    height: 100%;
    width: 80vw;
    background-color: white;
    background-image: url("background1.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border: 5px solid;
    outline: 1px solid;
    outline-offset: -9px;
    margin: auto;
    margin-bottom: 300px;
    color: black;
    text-align: center;
    margin-top: 2vh;
    font-family: 'Marcellus', serif;
    opacity: 0;
    animation-fill-mode: forwards;
}
#projects {
    height: 100%;
    width: 80vw;
    background-color: white;
    border: 5px solid;
    outline: 1px solid;
    outline-offset: -9px;
    margin: auto;
    color: black;
    text-align: center;
    margin-top: 2vh;
    font-family: 'Marcellus', serif;
    opacity: 0;
    animation-fill-mode: forwards;
    /*animation-delay: 2.3s;*/
}

hr {
    color: black;
    width: 50vw;
    border-top: 2px solid;
    margin: auto;
}

#homeTitle {
    font-size: 3.5rem;
    font-family: 'Squada One', cursive;
    opacity: 0;
    animation-fill-mode: forwards;
}

#profileTitle {
    font-size: 2rem;
    font-family: 'Chau Philomene One', sans-serif;
    padding-top: 20px;
}

#educationTitle {
    font-size: 2rem;
    font-family: 'Chau Philomene One', sans-serif;
    padding-top: 20px;
}

#achievementTitle {
    font-size: 2rem;
    font-family: 'Chau Philomene One', sans-serif;
    padding-top: 20px;
}

#expTitle {
    font-size: 2rem;
    font-family: 'Chau Philomene One', sans-serif;
    padding-top: 20px;
}

#projectsTitle {
    font-size: 2rem;
    font-family: 'Chau Philomene One', sans-serif;
    padding-top: 20px;
}
#profileContent {
    display: flex;
    justify-content: space-evenly;
    font-family: 'Marcellus', serif;
}

#educationContent {
    font-family: 'Marcellus', serif;
    font-size: 1.2rem;
    margin: 0 auto auto auto;
    padding-top: 0;
}

#keyComp {
    text-align: center;
    margin: auto;
}

#profilePicture {
    width: 17vw;
    margin-top: 10px;
}


#profileLeft {
    width: 100vw;
}

#profileRight {
    display: table;
    width: 100%;
}

.icons {
    display: inline;
}

#tableInfo {
    display: table-cell;
    text-align: left;
    margin: auto auto 1vh auto;
    
}

/*
#tableEducation {
    width: 70vw;
    text-align: center;
    margin: auto auto auto 10vw;
}
*/

.profileText {
    font-size: 1.2rem;
    padding: 1vw;
}

.eduHeader {
    font-weight: bold;
    font-size: 1.27rem;
    margin-bottom: 1px;
}

.tableHeader {
    width: 60vw;
    text-align: center;
    text-decoration: underline;
}
.eduText {
    font-size: 1.17rem;
    margin: auto;
    text-align: left;
}
.eduText2 {
    font-size: 1.1rem;
    text-align: left;
    padding-left: 8vw;
}

.python {
    display: inline;
}

.progress {
    display: inline-flex !important;
    width: 40vw;
    margin: auto auto 1vh auto;
    background-color: inherit !important;
    border: solid 1px black;
}

#languages {
    margin: 1rem auto auto auto;
    text-align: left;


}
.sub-language {
    font-weight: bold;
    padding-left: 6rem;
}

.progress-bar {
    color: black !important;
    background-color: white !important;
}

.process-bar-striped {
    background-color: black;
}

#a1 {
    width: 500px;
    height: auto;
    margin-right: 2vw;
}

#a0 {
    width: 500px;
    margin-left: 2vw;
}

#a2 {
    width: 500px;
    margin-left: 2vw;
}

#a3 {
    width: 500px;
    margin-right: 2vw;
}

#a4 {
    width: 500px;
    margin-left: 2vw;
}

#a0-mobile {
    display: none;
}

#a1-mobile {
    display: none;
}

#a4-mobile {
    display: none;
}

#achievement0 {
    display: flex;
    justify-content: space-evenly;
    margin: auto 2vw 2vh 2vw;
    font-size: 1.1rem;
}

#achievement1 {
    display: flex;
    justify-content: space-evenly;
    margin: auto 2vw 2vh 2vw;
    font-size: 1.1rem;
}

#achievement2 {
    display: flex;
    justify-content: space-evenly;
    margin: auto 2vw 2vh 2vw;
    font-size: 1.1rem;
}

#achievement3 {
    display: flex;
    justify-content: space-evenly;
    margin: auto 2vw 2vh 2vw;
    font-size: 1.1rem;
}

#achievement4 {
    display: flex;
    justify-content: space-evenly;
    margin: auto 2vw 2vh 2vw;
    font-size: 1.1rem;
}

#project1 {
    display: flex;
    justify-content: space-evenly;
}

#project2 {
    display: flex;
    justify-content: space-evenly
}

#imgProject1 {
    width: 15vw;
    height: 100% !important;
    margin: 1vh 5vw 1vh 10vw;
}

#imgProject2-mobile {
    width: 15vw;
    height: 100% !important;
    margin: 1vh 10vw 1vh 5vw;
}

#imgProject2 {
    display: none;
    
}

#projectText1 {
    margin-right: 10vw;
    font-size: 0.85rem;
    padding-right: 5vw;
}

#projectText3 {
    margin-left: 10vw;
    font-size: 0.85rem;
    padding-left: 5vw;
}


#expSub {
    font-size: 1.3rem;
    color: red;
}

iframe {
    margin-top: 30px;
}

.workHeader {
    text-decoration: underline;
    font-weight: bold;
}

.workSub {
    font-weight: bold;
}

.workSub2{
    font-style: italic;
}

.pacman1 {
    display: flex;
    justify-content: flex-start;
}
.food {
    display: inline;
    margin: auto 1.5rem auto;
    border: solid 0.2rem black;
    border-radius: 50%;
}

.pacman {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background: #f2d648;
    position: relative;
    border: solid 1.5px black;
    -moz-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    transform: scale(-1, 1);
  }

.pacman__eye {
    position: absolute;
    width: 0.6vh;
    height: 0.6vh;
    border-radius: 50%;
    top: 0.5vh;
    right: 0.8vh;
    background: #333333;
}

.pacman__mouth {
    background: #000;
    position: absolute;
    width: 100%;
    height: 100%;
    clip-path: polygon(100% 74%, 44% 48%, 100% 21%);
    animation-name: eat;
    animation-duration: 0.7s;
    animation-iteration-count: infinite;
  }

  @keyframes eat {
    0% {
      clip-path: polygon(100% 74%, 44% 48%, 100% 21%);
    }
    25% {
      clip-path: polygon(100% 60%, 44% 48%, 100% 40%);
    }
    50% {
      clip-path: polygon(100% 50%, 44% 48%, 100% 50%);
    }
    75% {
      clip-path: polygon(100% 59%, 44% 48%, 100% 35%);
    }
    100% {
      clip-path: polygon(100% 74%, 44% 48%, 100% 21%);
    }
  }

  

.animated {
    background-repeat: no-repeat;
    background-position: left top;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
 }
 
 @-webkit-keyframes fadeInRight {
    0% {
       opacity: 0;
       -webkit-transform: translateX(100px);
    }
    100% {
       opacity: 1;
       -webkit-transform: translateX(0);
    }
 }
 
 @keyframes fadeInRight {
    0% {
       opacity: 0;
       transform: translateX(100px);
    }
    100% {
       opacity: 1;
       transform: translateX(0);
    }
 }
 
 .fadeInRight {
    -webkit-animation-name: fadeInRight;
    animation-name: fadeInRight;
 }

 @-webkit-keyframes fadeInLeft {
    0% {
       opacity: 0;
       -webkit-transform: translateX(-100px);
    }
    100% {
       opacity: 1;
       -webkit-transform: translateX(0);
    }
 }
 
 @keyframes fadeInLeft {
    0% {
       opacity: 0;
       transform: translateX(-100px);
    }
    100% {
       opacity: 1;
       transform: translateX(0);
    }
 }
 
 .fadeInLeft {
    -webkit-animation-name: fadeInLeft;
    animation-name: fadeInLeft;
 }

 @-webkit-keyframes fadeInBottom {
    0% {
       opacity: 0;
       -webkit-transform: translateY(20px);
    }
    100% {
       opacity: 1;
       -webkit-transform: translateY(0);
    }
 }
 
 @keyframes fadeInBottom {
    0% {
       opacity: 0;
       transform: translateY(20px);
    }
    100% {
       opacity: 1;
       transform: translateY(0);
    }
 }
 
 .fadeInBottom {
    -webkit-animation-name: fadeInBottom;
    animation-name: fadeInBottom;
 }

 @-webkit-keyframes fadeInTop {
    0% {
       opacity: 0;
       -webkit-transform: translateY(-20px);
    }
    100% {
       opacity: 1;
       -webkit-transform: translateY(0);
    }
 }
 
 @keyframes fadeInTop {
    0% {
       opacity: 0;
       transform: translateY(-20px);
    }
    100% {
       opacity: 1;
       transform: translateY(0);
    }
 }
 
 .fadeInTop {
    -webkit-animation-name: fadeInTop;
    animation-name: fadeInTop;
 }

 .fade-in06 {
    animation: fadeIn ease 3s;
    -webkit-animation: fadeIn ease 3s;
    -moz-animation: fadeIn ease 3s;
    -o-animation: fadeIn ease 3s;
    -ms-animation: fadeIn ease 3s;
    -webkit-animation-delay: 0.6s;
    
    }
    @keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }
    
    @-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }
    
    @-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }
    
    @-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }
    
    @-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }

 .fade-in12 {
    animation: fadeIn ease 3s;
    -webkit-animation: fadeIn ease 3s;
    -moz-animation: fadeIn ease 3s;
    -o-animation: fadeIn ease 3s;
    -ms-animation: fadeIn ease 3s;
    -webkit-animation-delay: 1.2s;
    
    }
    @keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }
    
    @-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }
    
    @-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }
    
    @-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }
    
    @-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }
 .fade-in18 {
    animation: fadeIn ease 3s;
    -webkit-animation: fadeIn ease 3s;
    -moz-animation: fadeIn ease 3s;
    -o-animation: fadeIn ease 3s;
    -ms-animation: fadeIn ease 3s;
    -webkit-animation-delay: 1.8s;
    
    }
    @keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }
    
    @-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }
    
    @-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }
    
    @-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }
    
    @-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }

 .fade-in23 {
    animation: fadeIn ease 3s;
    -webkit-animation: fadeIn ease 3s;
    -moz-animation: fadeIn ease 3s;
    -o-animation: fadeIn ease 3s;
    -ms-animation: fadeIn ease 3s;
    -webkit-animation-delay: 2.3s;
    
    }
    @keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }
    
    @-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }
    
    @-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }
    
    @-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }
    
    @-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }

 .fade-in28 {
    animation: fadeIn ease 3s;
    -webkit-animation: fadeIn ease 3s;
    -moz-animation: fadeIn ease 3s;
    -o-animation: fadeIn ease 3s;
    -ms-animation: fadeIn ease 3s;
    -webkit-animation-delay: 2.8s;
    
    }
    @keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }
    
    @-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }
    
    @-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }
    
    @-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }
    
    @-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }

 .fade-in33 {
    animation: fadeIn ease 3s;
    -webkit-animation: fadeIn ease 3s;
    -moz-animation: fadeIn ease 3s;
    -o-animation: fadeIn ease 3s;
    -ms-animation: fadeIn ease 3s;
    -webkit-animation-delay: 3.3s;
    
    }
    @keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }
    
    @-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }
    
    @-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }
    
    @-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }
    
    @-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }

 .fade-in38 {
    animation: fadeIn ease 3s;
    -webkit-animation: fadeIn ease 3s;
    -moz-animation: fadeIn ease 3s;
    -o-animation: fadeIn ease 3s;
    -ms-animation: fadeIn ease 3s;
    -webkit-animation-delay: 3.8s;
    
    }
    @keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }
    
    @-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }
    
    @-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }
    
    @-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }
    
    @-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }

    /* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
    #cards {
        display: flex;
        justify-content: space-evenly;
        margin-bottom: 20px;
        font-size: 1.17rem;
    }

    #cards2 {
        display: flex;
        justify-content: space-evenly;
        margin-bottom: 20px;
        font-size: 1.17rem;
    }

    .vertical-center {
        display: flex;
        flex-direction: column;
        height: 100%;
        align-items: center;
        justify-content: center;
    }

    ul {
        text-align: left;
        padding-left: 1.5vw;
    }

    .flip-card {
    background-color: transparent;
    width: 25vw;
    height: 35vh;
    border: 1px solid #f1f1f1;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
    box-shadow: 0.5vw 0.5vw 0.1vw grey;
    border-radius: 10px;
    }
    
    /* This container is needed to position the front and back side */
    .flip-card-inner {
        position: relative;
        width: 100%;
        height: 100%;
        transition: transform 0.8s;
        transform-style: preserve-3d;
    }
    
    /* Do an horizontal flip when you move the mouse over the flip box container */
    .flip-card:hover .flip-card-inner {
        transform: rotateY(180deg);
    }
    
    /* Position the front and back side */
    .flip-card-front, .flip-card-back {
        position: absolute;
        width: 100%;
        height: 100%;
        -webkit-backface-visibility: hidden; /* Safari */
        backface-visibility: hidden;
    }
    
    /* Style the front side (fallback if image is missing) */
    .flip-card-front {
        background-color: white;
        color: black;
        border-radius: 10px;
    }
    
    /* Style the back side */
    .flip-card-back {
        background-color: white;
        color: black;
        font-size: 1rem;
        text-align: left;
        transform: rotateY(180deg);
        border-radius: 10px;
        padding-left: 3vw;
        padding-right: 3vw;
        border: solid 1px black;
    }
      
      .row.no-gutters {
        margin: -5px !important;
      }
      
      .row.no-gutters > * {
        padding: 5px !important;
      }
      
      .flipper {
        height: 0;
        padding-bottom: 100%;
        position: relative;
        -webkit-perspective: 800px;
        -ms-perspective: 800px;
        perspective: 800px;
      }
      
      @media (min-width: 576px) {
      
        .ratio-not-1-1 {
          padding-bottom: calc(50% - 5px);
        }
      
      }
      
      .flipper-card {
        width: 100%;
        height: 100%;
        font-size: 1.17rem;
        position: absolute;
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
        transition: -webkit-transform 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
        transition: transform 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
        transition: transform 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275), -webkit-transform 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
        
      }

      
      .flipper-front,
      .flipper-back {
        position: absolute;
        width: 100%;
        height: 100%;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        border-radius: 10px;
        background: white;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      
      .flipper-back {
        background: #fff;
        border: solid 1px black;
        -webkit-transform: rotateY(180deg);
        transform: rotateY(180deg);
        font-size: 1rem;
      }
      
      .flipper-card.flipper-is-flipped {
        -webkit-transform: rotateY(180deg);
        transform: rotateY(180deg);
      }

      .icon1 {
          bottom: 2vh;
          right: 2vw;
      }

#code-skills {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    
}

.skills {
    width: 20vw;
    border: solid 1px black;
    box-shadow: 0px 0px 7px -0.5px #dbc242;
    background-color: white;
}

.skill-title {
    font-size: 1.1rem;
    text-decoration: underline;
}

.skill-headers {
    margin-bottom: 0;
    font-size: 0.95rem;
    font-weight: bold;
}

.left {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.right {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.skill-text {
    font-size: 0.9rem;
}

.skill-image {
    padding-top: 1rem;
}

#assignment1 {
    margin: auto;
    width: 70vw;
    display: flex;
    justify-content: center;
}

.assignment-img {
    display:none;
    width: 30vw;
    border: solid 1px black;
    border-radius: 20px;
}

.boxes {
    border: solid 1px white;
    background-color: white;
    border-radius: 10px;
    padding: 3px;
    display: inline-flex;
    font-size: 1.1rem
}

.assignment1-text {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 30vw;
    text-align: center;
    font-size: 0.9rem;
    vertical-align: middle;
    padding-bottom: 30px;
}

.assignment1-header {
    font-size: 1.15rem;
}

.assignment1-button {
    position: absolute;
    border: solid 1px black;
    border-radius: 10px;
    right: 1rem;
    bottom: 1rem;
    background-color: inherit;
}

.assignment1-button:hover {
    transform:scale(1.3,1.3);
    -webkit-transform:scale(1.3,1.3);
    -moz-transform:scale(1.3,1.3);
}

#a0Text {
    height: 500px;
}

.assignment-border-right {
    border-right: solid 1.5px white;
}

.assignment-title {
    text-decoration: underline;
    font-weight: bold;
}

#a0Text, #a1Text, #a2Text, #a3Text, #a4Text {
    font-size: 0.8rem;
}
      